body {
    background-color: #4a889c;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 16px auto;
}

canvas {
    width: 400px;
    height: 400px;
}

button {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 16px 32px;
    border: none;
    font-size: 1.5rem;
}